* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    color: white;
    display: inline-block;
  }
  a:hover {
    color: white;
  }
  li {
    list-style: none;
  }
  
  /* header area start */
  header {
    background: rgb(5, 1, 74);
    position: absolute;
    z-index: 100;
    width: 100%;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .header-list {
    padding: 10px;
    border-radius: 5px;
    margin-left: 10px;
    background: transparent;
    display: inline-block;
  }
  .header-list:hover {
    background: green;
  }
  .profile-img {
    width: 35px;
    height: 35px;
    border-radius: 5px;
  }
  .request-number {
    position: absolute;
    background: darkgoldenrod;
    justify-content: center;
    align-items: center;
    padding: 3px;
    display: flex;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    top: 0;
    right: -7px;
  }
  /* header area end */
  
  /* profile data area start */
  .profile-data-area {
    padding-top: 150px;
    padding-bottom: 100px;
    background: rgb(230, 211, 176);
  }
  .user-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 1px black;
    margin-bottom: 10px;
  }
  .data-item {
    display: grid;
    grid-template-columns: 0.4fr 1.1fr;
    justify-content: center;
    align-items: flex-start;
    grid-gap: 20px;
  }
  .data-item-one {
    display: inline-block;
    background: whitesmoke;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background: whitesmoke;
  }
  
  td,
  th {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .user-name {
    font-size: 18px;
    font-weight: 700;
  }
  .lawyer-name {
	width: 100%;
	display: inline-block;
}
  /* profile data area end */
  
  /* footer area start */
  .upper-area {
    background: rgb(5, 1, 74);
    padding: 30px 0;
    text-align: center;
    background-image: url(../image/pattern-book.png);
  }
  .upper-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }
  
  .social-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .social-sec a i {
    width: 20px;
    height: 20px;
  }
  .social-sec a {
    background: teal;
    padding: 15px;
    border-radius: 100%;
  }
  .social-sec a:hover {
    background: gray;
  }
  /* footer area end */
  